<!DOCTYPE html>
<html lang="en" xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- 新 Bootstrap 核心 CSS 文件 https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js-->
<script src="js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js -->
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<head>
    <meta charset="UTF-8">
    <title>暴走的耗子</title>
</head>
<style type="text/css">
    .desc{
        font-size: small
    }
</style>
<script>
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
</script>
<body>
<div id="content">
    <div class="container">
        <div  class="row clearfix">
            <div class="col-md-12 column" >
                <div class="page-header" >
                    <div style="display: flex;justify-content: space-between;align-items:flex-end">
                        <h3>
                            暴走的耗子 <small> · baozouMouse</small>
                        </h3>
                        <h5 ><span @click="showLogin()">登录</span></button></h5>
                    </div>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">登录</h4>
                                </div>
                                <div class="modal-body" align="center">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group"  >
                                            <label for="userName" class="col-md-2 column control-label" >姓名:</label>
                                            <div class="col-md-10 column">
                                                 <input type="text" class="form-control" id="userName" placeholder="请输入姓名">
                                            </div>
                                        </div>
                                        <div class="form-group"  >
                                            <label for="userName" class="col-md-2 column control-label" >密码:</label>
                                            <div class="col-md-10 column">
                                                 <input type="password" class="form-control" id="password" placeholder="请输入密码">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                                    <button type="button" class="btn btn-success" @click="login()">登录</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12 column" style="margin-top: 50px;margin-bottom: 30px">
            <h5 v-if="total>0" align="center">找到商品数量：<span style="color: #4cae4c">&nbsp;{{total}}</span></h5>
            <form role="form" >
                <div class="col-md-3 column" align="center"></div>
                    <div class="form-group col-md-6 column input-group" >
                        <input name="searchContent" placeholder="输入商品名称"  class="form-control" id="searchContent" v-model="searchParam.content" />
                        <span  class="btn-success input-group-addon" @click="searchProduct()">搜索</span>
                    </div>
            </form>
        </div>
        <div>
            <div class="row clearfix productList" align="left">
                <div class="col-md-2 column" v-for="(item,index) in productList">
                    <a :href="item.url" target="_blank" style="text-decoration: none">
                        <img :src="item.pict_url" width="100%">
                        <div  >
                            <div class="desc"> {{item.short_title}}</div>
                            <div  class="desc" style="display: flex;justify-content: space-between;width: 100%">
                                <div>{{item.shop_title}}</div>
                                <div>
                                    <span v-if="item.user_type==1" style="text-align: right">天猫</span><span v-if="item.user_type==0" style="text-align: right">淘宝</span>
                                    <span v-if="item.real_post_fee==0">包邮</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div align="left">
                        <p class="desc">
                            <div style="display: flex;justify-content: space-between">
                                <div> 原价: {{item.reserve_price}}</div>
                                <div> <span style="color: red">&nbsp;&nbsp;&nbsp;现价：{{item.zk_final_price}}</span></div>
                            </div>
                            优惠券：{{item.coupon_info}}
                            <div style="display: flex;justify-content: space-between">
                                <div> 剩余：{{item.coupon_remain_count}} </div>
                                <div> {{item.coupon_start_time}}/{{item.coupon_end_time}}</div>
                            </div>
                            <div align="center"> <button id="copyBtn" class="btn btn-danger"  style="align-self: end" @click="createTbk(item.url,item.short_title)" delay="500"  title="淘口令复制成功" data-toggle="popover" data-placement="top"  data-content="打开淘宝app即可使用">一键复制淘口令</button></div>
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript">
    var requestUrl = "http://localhost:8080";
    var vm = new Vue({
        el: '#content',
        data() {
            return {
                productList: null,
                siteList: null,
                searchContent:null,
                total:0,
                totalPage:0,
                prodListLoadingOver:false,
                lastPage: false,
                tkl:'',
                token:'',
                searchParam:{
                    pageSize:12,
                    pageNum:1,
                    content:null
                }
            }
        },
        methods: {
            showLogin(){
                $('#myModal').modal('show')
            },
            login(){
                var userName= $('#userName').val();
                var password= $('#password').val();
                axios({
                    url: requestUrl+'/user/login',
                    method: 'post',
                    headers: {'Content-Type': 'application/json'},
                    data: JSON.stringify({"userName":userName,"password":password})
                }).then((res) => {
                    if (res.data.code == '200') {
                        this.token=res.data.data
                        if(this.token){

                        }
                    } else {
                        alert(res.data.message);
                    }
                })
                // $('#myModal').modal('show')
            },
            searchProduct(){
                if(!this.searchParam.content.trim()){
                    alert("搜索内容不能为空");
                    return;
                }
                axios({
                    url: requestUrl+'/product/searchProduct',
                    method: 'post',
                    headers: {'Content-Type': 'application/json'},
                    data: JSON.stringify(this.searchParam)
                }).then((res) => {
                    if (res.data.code == '200') {
                        this.total= JSON.parse(res.data.data).tbk_dg_material_optional_response.total_results;
                        let resData  = JSON.parse(res.data.data).tbk_dg_material_optional_response.result_list.map_data;
                        if(this.searchParam.pageNum ==1){
                            this.productList =resData;
                            this.totalPage= (this.total/this.searchParam.pageSize)+1;
                        }else {
                            this.productList= this.productList.concat(resData);
                            if(this.totalPage=this.pageNum){
                                this.lastPage = true;
                            }
                        }
                        this.prodListLoadingOver = true;
                    } else {
                        alert(res.data.message);
                    }
                })
            },
            createTbk(url,text){
                axios({
                    url: requestUrl+'/product/createTbk',
                    method: 'post',
                    headers: {'Content-Type': 'application/json'},
                    data: JSON.stringify({"url":"https:"+url,"text":text})
                }).then((res) => {
                    if (res.data.code == '200') {
                        this.tkl= JSON.parse(res.data.data).tbk_tpwd_create_response.data.model;
                        this.copyToBoard(this.tkl)
                    } else {
                        alert(res.data.message);
                    }
                })
            },
            copyToBoard:function(message){
                // 复制到剪贴板
                var aux = document.createElement("input");
                aux.setAttribute("value", message);
                document.body.appendChild(aux);
                aux.select();
                document.execCommand("copy");
                document.body.removeChild(aux);
                $('#copyBtn').popover('show')
                setTimeout(function(){
                    $("#copyBtn").popover('hide')
                },500);
            },
            handleScroll(){
                let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                let h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight; //屏幕的高度
                let prodListHeight = document.querySelector('.productList').offsetHeight-h-20;  //.myOrderListWrapper 商品列表容器
                /*console.log(scrollTop,":::",prodListHeight)*/
                if(scrollTop > prodListHeight && this.prodListLoadingOver && !this.lastPage){
                    this.searchParam.pageNum =  this.searchParam.pageNum  + 1;
                    this.searchProduct();
                }
            }

        },
        created() {

        },
        watch: {

        },
        mounted() {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed(){
            window.removeEventListener('scroll', this.handleScroll);
        }

    })
</script>
</html>